* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #F2F2F2;
}

header {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 810px;
}
header #top {
  position: absolute;
  width: 1440px;
  height: 810px;
  z-index: -1;
}
header .header__section__top .section__logo img {
  width: 190px;
  height: 33px;
  margin: 0 0 5px 19px;
}
header .header__section__top .section__logoprint img {
  width: 55px;
  height: 35px;
  margin: 28px 0 0 164px;
}
header .header__section__top .section__menu {
  position: absolute;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 27px;
  right: 166px;
}
header .header__section__top .section__menu div {
  width: 18px;
  height: 1.8px;
  margin-bottom: 3.6px;
  margin-left: 11px;
  background: black;
}
header .header__section__top .section__menu div:first-child {
  margin-top: 14px;
}
header .header__section__top .section__menu div:last-child {
  margin-bottom: 0;
}
header .header__section__main {
  margin: 130px 0 0 166px;
  width: 616px;
  height: 412px;
}
header .header__section__main p:first-child {
  margin-bottom: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
header .header__section__main h2 {
  width: 616px;
  height: 222px;
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #fff;
}
header .header__section__main p:nth-child(3) {
  margin-bottom: 45px;
  height: 55px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
header .header__section__main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFD723;
}
header .header__section__main a ion-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #FFD723;
}
header .header__section__bottom {
  position: absolute;
  width: 1276px;
  height: 227px;
  top: 708px;
  left: 165px;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
}
header .header__section__bottom a:first-child img {
  margin-left: 65px;
}
header .header__section__bottom a img {
  margin-top: 60px;
  margin-right: 66px;
  width: 156px;
  height: 113px;
  mix-blend-mode: normal;
  opacity: 0.63;
}

main {
  margin: 0 auto;
  width: 1440px;
  height: 4230px;
  background: #fff;
}
main .main__section__top {
  position: relative;
  margin: 0 auto;
  width: 1110px;
  height: 794px;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
main .main__section__top .section__post__first {
  padding-top: 244px;
  width: 475px;
  height: 366px;
  text-align: left;
}
main .main__section__top .section__post__first p:first-child {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(77, 83, 60, 0.9);
}
main .main__section__top .section__post__first h2 {
  margin-top: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #4D533C;
}
main .main__section__top .section__post__first p:nth-child(3) {
  margin-top: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}
main .main__section__top .section__post__first a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #D4D6D4;
}
main .main__section__top .section__post__first a ion-icon {
  margin-right: 5px;
}
main .main__section__top .section__comment__first {
  position: absolute;
  top: 0;
  right: 0;
  width: 474px;
  height: 644px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}
main .main__section__top .section__comment__first p:first-child {
  margin: 244px 8px 50px 40px;
  text-align: left;
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #4D533C;
}
main .main__section__top .section__comment__first div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .main__section__top .section__comment__first div img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
  margin-left: 40px;
}
main .main__section__top .section__comment__first div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .main__section__top .section__comment__first div div h3 {
  margin-top: 14px;
  margin-left: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #4D533C;
}
main .main__section__top .section__comment__first div div p {
  margin-top: 6px;
  margin-left: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #152934;
}
main .section__main__center .bigpng {
  width: 735px;
  height: 550px;
}
main .section__main__center .title__post {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #4D533C;
}
main .section__main__center .text__standart {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}
main .section__main__center .text {
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4D533C;
}
main .section__main__center .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #D4D6D4;
}
main .section__main__center .link ion-icon {
  margin-right: 5px;
}
main .section__main__center .section__title__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 362px;
  margin: 0 auto;
}
main .section__main__center .section__title__top .title__post {
  margin-top: 150px;
  width: 330px;
  height: 100px;
}
main .section__main__center .section__title__top .text__standart {
  margin-top: 162px;
  margin-left: 130px;
  width: 518px;
  height: 75px;
}
main .section__main__center .section__box__post {
  position: relative;
  width: 1110px;
  height: 550px;
  margin: 0 auto 165px;
}
main .section__main__center .section__box__post .bigpng {
  position: absolute;
  left: -165px;
}
main .section__main__center .section__box__post .posts {
  position: absolute;
  right: 0;
  margin-top: 80px;
  width: 445px;
  height: 400px;
}
main .section__main__center .section__box__post .posts p {
  width: 420px;
  margin-top: 30px;
}
main .section__main__center .section__box__post .posts .link {
  margin-top: 90px;
}
main .section__main__center .section__box__post .posts .link p {
  margin-top: 0;
}
main .section__main__center .section__box__post .comment {
  position: absolute;
  width: 455px;
  height: 245px;
  left: 155px;
  bottom: -65px;
  background: #fff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}
main .section__main__center .section__box__post .comment .text {
  width: 390px;
  height: 111px;
  margin: 30px 30px 0;
}
main .section__main__center .section__box__post .comment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section__main__center .section__box__post .comment div img {
  width: 46px;
  height: 46px;
  margin: 30px 15px 30px 30px;
  border-radius: 50%;
  -webkit-box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
main .section__main__center .section__box__post .comment div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .section__main__center .section__box__post .comment div div h3 {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #4D533C;
}
main .section__main__center .section__box__post .comment div div p {
  margin-top: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #152934;
}
main .section__main__center .section__box__post:nth-child(3) .bigpngc {
  position: absolute;
  right: -165px;
  width: 735px;
  height: 550px;
}
main .section__main__center .section__box__post:nth-child(3) .posts {
  left: 0;
}
main .section__main__center .section__box__post:nth-child(3) .commentc {
  position: absolute;
  width: 455px;
  height: 245px;
  right: 155px;
  bottom: -65px;
  background: #fff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}
main .section__main__center .section__box__post:nth-child(3) .commentc .text {
  width: 390px;
  height: 111px;
  margin: 30px 30px 0;
}
main .section__main__center .section__box__post:nth-child(3) .commentc div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section__main__center .section__box__post:nth-child(3) .commentc div img {
  width: 46px;
  height: 46px;
  margin: 30px 15px 30px 30px;
  border-radius: 50%;
  -webkit-box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
main .section__main__center .section__box__post:nth-child(3) .commentc div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .section__main__center .section__box__post:nth-child(3) .commentc div div h3 {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #4D533C;
}
main .section__main__center .section__box__post:nth-child(3) .commentc div div p {
  margin-top: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #152934;
}
main .section__main__center .section__box__post:last-child {
  height: 740px;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
main .section__main__center .section__box__post:last-child .comment {
  bottom: 125px;
}
main .main__section__bottom .section__title {
  width: 610px;
  height: 95px;
  margin: 150px 0 60px 165px;
}
main .main__section__bottom .section__title h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #4D533C;
}
main .main__section__bottom .section__column__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .main__section__bottom .section__column__list div {
  width: 255px;
  height: 310px;
  position: relative;
  margin-right: 30px;
}
main .main__section__bottom .section__column__list div h2 {
  width: 185px;
  height: 68px;
  word-spacing: 70px;
  margin-top: 27px;
  margin-left: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #4D533C;
}
main .main__section__bottom .section__column__list div .center {
  width: 195px;
  margin: 20px 30px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}
main .main__section__bottom .section__column__list div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  margin-left: 30px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
main .main__section__bottom .section__column__list div a p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: #D4D6D4;
}
main .main__section__bottom .section__column__list div a ion-icon {
  margin-right: 5px;
  font-size: 16px;
  color: #D4D6D4;
}
main .main__section__bottom .section__column__list div:first-child {
  margin-left: 165px;
}
main .main__section__bottom .section__column__list div:first-child h2 {
  word-spacing: 0;
}
main .main__section__bottom .section__column__list div:first-child a p {
  color: #FFD723;
}
main .main__section__bottom .section__column__list div:first-child a ion-icon {
  color: #FFD723;
}

footer {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 920px;
}
footer img {
  position: absolute;
  width: 1440px;
  height: 920px;
  z-index: -1;
}
footer .footer__title {
  width: 1275px;
  height: 362px;
  position: absolute;
  left: 0;
  top: -172px;
  background: #FAFAFA;
  -webkit-box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
footer .footer__title h2 {
  margin: 70px 164px 50px;
  width: 822px;
  height: 150px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #4D533C;
}
footer .footer__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-left: 164px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
footer .footer__title a p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #D4D6D4;
}
footer .footer__title a ion-icon {
  margin-right: 5px;
  font-size: 16px;
  color: #D4D6D4;
}
footer .footer__section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 450px;
  height: 90px;
  margin-top: 310px;
  margin-left: 165px;
}
footer .footer__section__top div {
  width: 225px;
  height: 90px;
}
footer .footer__section__top div p:first-child {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #B6C197;
}
footer .footer__section__top div p:last-child {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
}
footer .footer__section__main {
  position: absolute;
  width: 1110px;
  height: 380px;
  top: 465px;
  left: 165px;
  border-bottom: 1px solid #5D6544;
  border-top: 1px solid #5D6544;
}
footer .footer__section__main .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 678px;
  height: 380px;
  border-right: 1px solid #5D6544;
}
footer .footer__section__main .menu__list div {
  margin-top: 60px;
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 170px;
  height: 260px;
}
footer .footer__section__main .menu__list div h2 {
  margin-bottom: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer__section__main .menu__list div a {
  margin-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: #B6C197;
}
footer .footer__section__main .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 87px;
  width: 322px;
  height: 232px;
}
footer .footer__section__main .contacts h2:first-child {
  margin-bottom: 23px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer__section__main .contacts p {
  margin-bottom: 23px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B6C197;
}
footer .footer__section__main .contacts h2:nth-child(3) {
  margin-bottom: 23px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  color: #FFFFFF;
}
footer .footer__section__main .contacts a ion-icon {
  width: 33px;
  height: 33px;
  margin-right: 11px;
  color: #444A34;
}
footer .footer__section__main .contacts a:nth-child(3) ion-icon {
  color: #FFD723;
}
footer .footer__section__bottom div {
  position: absolute;
  bottom: 20px;
  left: 165px;
  width: 200px;
  height: 32px;
}
footer .footer__section__bottom div #logoprintf {
  margin-right: 55px;
}
footer .footer__section__bottom div #logoprintf img {
  width: 50px;
  height: 30px;
}
footer .footer__section__bottom div #logof img {
  width: 150px;
  height: 26px;
}
footer .footer__section__bottom p {
  position: absolute;
  bottom: 25px;
  right: 190px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #B5C096;
}