@mixin sizeimg {
  width: 735px;
  height: 550px;
}
@mixin textstandart {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: $color7;
}
@mixin texttop {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;

  color: $color3;
}

@mixin textcomment {
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;


  color: $color3;
}
@mixin link {
  display: flex;
  margin-top: 42px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: none;

  color: $color8;

  ion-icon {
    margin-right: 5px;
  }
}