@import "mixer";

$color1:#fff;
$color2: #FFD723;
$color3: #4D533C;
$color4: #4F553D;
$color5: #B6C197;
$color7: rgba(33, 56, 66, 0.6);
$color8: #D4D6D4;
$color9: #152934;

*{
  box-sizing: border-box;
}
html {
  background: #F2F2F2
}

header {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 810px;

  #top {
    position: absolute;
    width: 1440px;
    height: 810px;
    z-index: -1;
  }

  .header__section__top {

    .section__logo img{
      width: 190px;
      height: 33px;
      margin: 0 0 5px 19px;
    }

    .section__logoprint img {
      width: 55px;
      height: 35px;
      margin: 28px 0 0 164px;
    }

    .section__menu {
      position: absolute;
      background: $color1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      top: 27px;
      right: 166px;

      div {
        width: 18px;
        height: 1.8px;
        margin-bottom: 3.6px;
        margin-left: 11px;

        background: black;

      }

      div:first-child{
        margin-top: 14px;
      }

      div:last-child{
        margin-bottom: 0;
      }
    }
  }

  .header__section__main {
    margin: 130px 0 0 166px;
    width: 616px;
    height: 412px;

    p:first-child{
      margin-bottom: 22px;

      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;

      color: $color1;
    }

    h2 {
      width: 616px;
      height: 222px;
      margin-bottom: 24px;

      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;

      color: $color1;
    }

    p:nth-child(3) {
      margin-bottom: 45px;
      height: 55px;

      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;

      color: $color1;
    }

    a {
      display: flex;
      height: 20px;

      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      text-decoration-line: none;

      color: $color2;

      ion-icon {
        margin-right: 10px;

        font-size: 20px;

        color: $color2;
      }
    }
  }

  .header__section__bottom {
    position: absolute;
    width: 1276px;
    height: 227px;
    top: 708px;
    left: 165px;
    z-index: 1;

    background: $color1;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;

    a:first-child {
      img {
        margin-left: 65px;}
    }

    a {
      img {
        margin-top: 60px;
        margin-right: 66px;

        width: 156px;
        height: 113px;
        mix-blend-mode: normal;
        opacity: 0.63;
      }
    }
  }
}

main {
  margin: 0 auto;
  width: 1440px;
  height: 4230px;

  background: $color1;

  .main__section__top {
    position: relative;
    margin: 0 auto;
    width: 1110px;
    height: 794px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);

    .section__post__first {
      padding-top: 244px;
      width: 475px;
      height: 366px;
      text-align: left;

      p:first-child {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;

        color: rgba(77, 83, 60, 0.9);
      }

      h2 {
        margin-top: 29px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 46px;

        color: $color3;
      }

      p:nth-child(3) {
        margin-top: 35px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        color: rgba(33, 56, 66, 0.6);
      }

      a {
        display: flex;
        margin-top: 42px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: none;

        color: $color8;

        ion-icon {
          margin-right: 5px;
        }
      }
    }

    .section__comment__first {
      position: absolute;
      top: 0;
      right: 0;
      width: 474px;
      height: 644px;

      background: #FFFFFF;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);

      p:first-child{
        margin: 244px 8px 50px 40px;
        text-align: left;

        font-family: Poppins;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;

        color: #4D533C;
      }

      div {
        display: flex;

        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          margin-left: 40px;
        }

        div {
          flex-direction: column;

          h3 {
            margin-top: 14px;
            margin-left: 30px;

            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 33px;

            color: #4D533C;
          }

          p {
            margin-top: 6px;
            margin-left: 30px;

            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;

            color: #152934;
          }
        }
      }
    }
  }
  .section__main__center {
    .bigpng {
      width: 735px;
      height: 550px;
    }

    .title__post{
      @include texttop;
    }

    .text__standart {
      @include textstandart;
    }

    .text{
      @include textcomment;
    }

    .link {
      @include link;
    }

    .section__title__top {
      display: flex;
      width: 1110px;
      height: 362px;
      margin: 0 auto;

      .title__post {
        margin-top: 150px;
        width: 330px;
        height: 100px;
      }

      .text__standart {
        margin-top: 162px;
        margin-left: 130px;
        width: 518px;
        height: 75px;
      }
    }

    .section__box__post {
      position: relative;
      width: 1110px;
      height: 550px;
      margin: 0 auto 165px;

      .bigpng {
        position: absolute;
        left: -165px;
      }

      .posts {
        position: absolute;
        right: 0;
        margin-top: 80px;
        width: 445px;
        height: 400px;

        p {
          width: 420px;
          margin-top: 30px;
        }

        .link  {
          margin-top: 90px;

          p {
            margin-top: 0;
          }
        }
      }

      .comment {
        position: absolute;
        width: 455px;
        height: 245px;
        left: 155px;
        bottom: -65px;

        background: $color1;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
        border-radius: 8px;

        .text {
          width: 390px;
          height: 111px;
          margin: 30px 30px 0;
        }

        div {
          display: flex;

          img {
            width: 46px;
            height: 46px;
            margin: 30px 15px 30px 30px;
            border-radius: 50%;
            box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          }

          div {
            flex-direction: column;

            h3 {
              margin-top: 30px;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;

              color: #4D533C;
            }

             p {
               margin-top: 5px;

               font-family: Poppins;
               font-style: normal;
               font-weight: normal;
               font-size: 14px;
               line-height: 21px;

               color: #152934;
             }
          }
        }
      }
    }

    .section__box__post:nth-child(3) {
      .bigpngc {
        position: absolute;
        right: -165px;
        width: 735px;
        height: 550px;
      }

      .posts {
        left: 0;
      }

      .commentc {
        position: absolute;
        width: 455px;
        height: 245px;
        right: 155px;
        bottom: -65px;

        background: $color1;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
        border-radius: 8px;

        .text {
          width: 390px;
          height: 111px;
          margin: 30px 30px 0;
        }

        div {
          display: flex;

          img {
            width: 46px;
            height: 46px;
            margin: 30px 15px 30px 30px;
            border-radius: 50%;
            box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          }

          div {
            flex-direction: column;

            h3 {
              margin-top: 30px;

              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;

              color: #4D533C;
            }

            p {
              margin-top: 5px;

              font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;

              color: #152934;
            }
          }
        }
      }
    }

    .section__box__post:last-child{
      .comment {
        bottom: 125px;
      }
      height: 740px;
      border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
    }
  }

  .main__section__bottom {
    .section__title {
      width: 610px;
      height: 95px;
      margin: 150px 0 60px 165px;

      h2 {
        @include texttop;
      }
    }

    .section__column__list {
      display: flex;
      flex-direction: row;

      div {
        width: 255px;
        height: 310px;
        position: relative;
        margin-right: 30px;

        h2 {
          width: 185px;
          height: 68px;
          word-spacing: 70px;
          margin-top: 27px;
          margin-left: 30px;

          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 34px;

          text-transform: uppercase;

          color: #4D533C;
        }

        .center {
          width: 195px;
          margin: 20px 30px 0;

          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 26px;

          color: rgba(33, 56, 66, 0.6);
        }

        a {
          display: flex;
          position: absolute;
          bottom: 0;

          margin-left: 30px;

          text-decoration-line: none;

          p {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            margin: 0;
            color: #D4D6D4;
          }

          ion-icon{
            margin-right: 5px;

            font-size: 16px;

            color: #D4D6D4;
          }
        }
      }
      div:first-child {
        margin-left: 165px;

        h2 {
          word-spacing: 0;
        }

        a {
          p {
            color: #FFD723;
          }
          ion-icon {
            color: #FFD723;
          }
        }
      }
    }
  }
}
footer {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 920px;

  img {
    position: absolute;
    width: 1440px;
    height: 920px;
    z-index: -1;
  }

  .footer__title {
    width: 1275px;
    height: 362px;
    position: absolute;
    left: 0;
    top: -172px;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);

    h2 {
      margin: 70px 164px 50px;
      width: 822px;
      height: 150px;

      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;

      color: #4D533C;
    }

    a {
      display: flex;
      height: 30px;
      margin-left: 164px;

      text-decoration-line: none;

      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;

        color: #D4D6D4;
      }

      ion-icon {
        margin-right: 5px;

        font-size: 16px;
        color: #D4D6D4;
      }
    }
  }

  .footer__section__top {
    display: flex;
    position: absolute;
    width: 450px;
    height: 90px;
    margin-top: 310px;
    margin-left: 165px;

    div {
      width: 225px;
      height: 90px;

      p:first-child {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;

        color: #B6C197;
      }

      p:last-child {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;

        color: #FFFFFF;
      }
    }
  }

  .footer__section__main {
    position: absolute;
    width: 1110px;
    height: 380px;
    top: 465px;
    left: 165px;

    border-bottom: 1px solid #5D6544;
    border-top: 1px solid #5D6544;

    .menu__list {
      display: flex;
      width: 678px;
      height: 380px;

      border-right: 1px solid #5D6544;

      div {
        margin-top: 60px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        width: 170px;
        height: 260px;

        h2 {
          margin-bottom: 40px;

          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 38px;

          text-transform: uppercase;

          color: #FFFFFF;
        }

        a {
          margin-bottom: 30px;

          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          text-decoration: none;

          color: #B6C197;
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      bottom: 87px;
      width: 322px;
      height: 232px;

      h2:first-child {
        margin-bottom: 23px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 38px;

        text-transform: uppercase;

        color: #FFFFFF;
      }

      p {
        margin-bottom: 23px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        color: #B6C197;
      }

      h2:nth-child(3) {
        margin-bottom: 23px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;

        color: #FFFFFF;
      }

      a {
        ion-icon {
          width: 33px;
          height: 33px;
          margin-right: 11px;
          color: #444A34;
        }
      }

      a:nth-child(3) {
        ion-icon {
          color: #FFD723;
        }
      }
    }
  }

  .footer__section__bottom {
    div {
      position: absolute;
      bottom: 20px;
      left: 165px;
      width: 200px;
      height: 32px;

      #logoprintf {
        margin-right: 55px;

        img {
          width: 50px;
          height: 30px;
        }
      }
      #logof {
        img {
          width: 150px;
          height: 26px;
        }
      }
    }
    p {
      position: absolute;
      bottom: 25px;
      right: 190px;

      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;

      color: #B5C096;
    }
  }
}